botocore==1.34.72
awscli==1.32.72
boto3==1.34.72
amazon-braket-default-simulator==1.21.2
amazon-braket-pennylane-plugin==1.24.6
amazon-braket-schemas==1.21.1
amazon-braket-sdk==1.76.0
amazon-braket-algorithm-library==1.4.8
cvxpy==1.4.2
ipykernel==6.29.4
jax==0.4.25
jaxlib==0.4.25
jinja2==3.1.3
markupsafe==2.1.5
matplotlib==3.8.3
ml-dtypes==0.3.2
mypy-extensions==1.0.0
numpy==1.25.2
openfermion==1.6.1
openfermionpyscf==0.5
optax==0.2.2
pandas==2.2.1
pennylane==0.35.1
PennyLane-Lightning==0.35.1
qiskit-aer==0.13.3
qiskit-algorithms==0.3.0
qiskit_braket_provider==0.2.0
qiskit==1.0.2
scipy==1.12.0
