botocore==1.34.37
awscli==1.32.37
boto3==1.34.37
amazon-braket-default-simulator==1.20.1
amazon-braket-pennylane-plugin==1.24.2
amazon-braket-schemas==1.20.2
amazon-braket-sdk==1.69.0
amazon-braket-algorithm-library==1.4.6
cvxpy==1.4.2
ipykernel==6.29.2
jax==0.4.24
jaxlib==0.4.24
jinja2==3.1.3
markupsafe==2.1.5
matplotlib==3.8.2
ml-dtypes==0.3.2
mypy-extensions==1.0.0
numpy==1.25.2
openfermion==1.5.1 # later versions pin scipy to a version that is incompatible
openfermionpyscf==0.5
optax==0.1.9
pandas==2.2.0
pennylane==0.34.0
PennyLane-Lightning==0.34.0
qiskit-aer==0.13.3
qiskit_braket_provider==0.0.5
qiskit-terra==0.46.0
scipy==1.12.0
