amazon-braket-default-simulator==1.40.1
amazon-braket-schemas==1.32.1
amazon-braket-sdk==1.126.1
awscli==1.46.1
boto3==1.43.83
botocore==1.43.83
cirq-ionq
matplotlib==3.11.1
matplotlib-venn==1.1.2
mitiq==1.0.0
pennylane==0.45.1
qiskit-braket-provider==0.23.2
