amazon-braket-default-simulator==1.34.0
amazon-braket-schemas==1.29.0
amazon-braket-sdk==1.112.1
awscli==1.44.43
boto3==1.42.53
botocore==1.42.53
cirq-ionq
matplotlib==3.10.8
matplotlib-venn==1.1.2
mitiq==0.48.1
qiskit-braket-provider==0.11.0
