*~
*#
*.swp
*.idea
*.DS_Store
.vscode/*
build_files.tar.gz

.ycm_extra_conf.py
.tox
.python-version

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.ipynb_checkpoints/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache
/pip-wheel-metadata

/doc/_apidoc/
/build
/venv
/dist
