pyscf==1.7.6
openfermion==1.0.0
tqdm==4.64.1

amazon-braket-sdk==1.26.0
amazon-braket-default-simulator==1.7.2
amazon-braket-pennylane-plugin==1.6.7
amazon-braket-schemas==1.10.1

numpy==1.19.2

pennylane==0.23.1
pennylane-lightning==0.23.0