# This workflow will run the linter checks from a new hatch environment.


name: Check code format

on:
  pull_request:
    branches:
      - main
      - feature/**

permissions:
  contents: read

jobs:
  check-code-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        pip install hatch "click<8.3.0"
    - name: Run code format checks
      run: |
        hatch run lint:style
