# This workflow will setup a conda build for dependency checks by pulling in the codebuild docker images 
# and will execute only on modification of yml files for PRs and merges.

name: Build Conda Environment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - feature/**

permissions:
  contents: read

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Maximize build space
      shell: bash
      run: |
        sudo rm -rf /usr/local/lib/android & sudo rm -rf /usr/share/dotnet & sudo rm -rf /opt/ghc
    - uses: actions/checkout@v5
    - name: Setup python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: 3.11.x
    - name: Pull Docker image
      run: |
        docker image pull public.ecr.aws/codebuild/amazonlinux-x86_64-standard:5.0
        docker image pull public.ecr.aws/codebuild/local-builds:latest
    - name: Build conda environment
      run: |
        # Create environment file for CodeBuild
        # Override compression level for pull requests (faster builds), otherwise use buildspec.yml default
        [ "${{ github.event_name }}" == "pull_request" ] && echo "COMPRESS_LEVEL=0" > build.env || touch build.env
        ./nbi/codebuild_build.sh -i public.ecr.aws/codebuild/amazonlinux-x86_64-standard:5.0 -a envs -b nbi/buildspec.yml -e build.env
