# This workflow will setup a conda build for dependency checks by pulling in the codebuild docker images 
# and will execute only on modification of yml files for PRs and merges.

name: Build Conda Environment

on:
  # push:
  #   branches:
  #     - main
  # pull_request:
  #   branches:
  #     - main
  #     - feature/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Maximize build space
      shell: bash
      run: |
        sudo rm -rf /usr/local/lib/android & sudo rm -rf /usr/share/dotnet & sudo rm -rf /opt/ghc
    - uses: actions/checkout@v4
    - name: Setup python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11.x
    - name: Build conda environment
      run: |
        ./nbi/codebuild_build.sh -i public.ecr.aws/codebuild/amazonlinux2-x86_64-standard:5.0 -a envs -b nbi/buildspec.yml
